body{
    /* background-image: url(../images/qiusewuxiansenlinlideqiutianbizhi_417353_10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: whitesmoke; */
    background: #ff6138;
}
.firstele{
    margin-top: 60px;
}
.whiteele{
    color: black;
    background-color: whitesmoke;
}
.container{
    color: black;
    background-color: whitesmoke;
}
footer{
    margin-top: 20px;
    text-align: center;
    color: black;
}
.spaceline{
   height: 10px;
   width: 100%;
   color: transparent;
}
.colorline{
    margin-top:5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    background: #ff7f50;
}
.container{
    background-color: #ffffff;
    background-color: transparent;
    min-height: 100vh;
}
.splitline{
    margin-top:10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    height: 1px;
    width: 100%;
}
.primary-color{
    color: #ff7f50;
}
.centerText{
    text-align: center;
}