/* body{
    background-image: url(../images/qiusewuxiansenlinlideqiutianbizhi_417353_10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: whitesmoke;
} */
/* .container{
    background-color: transparent;
    padding: 0px;
} */
#head{
    /* background-color: #ff6138; */
    color: black;
}
#desc{
    background-color: whitesmoke;
    padding: 10px;
    color: black;
}
#desc .row{
    margin-bottom: 20px;
}
