body{
    background-image: url(../images/qiusewuxiansenlinlideqiutianbizhi_417353_10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: whitesmoke;
}
.container{
    background-color: transparent;
}
#head{
    background-color: transparent;
    /* margin-top:50px; */
    color: white;
}
#desc{
    background-color: whitesmoke;
    padding: 10px;
    color: black;
}
#desc .row{
    margin-top: 20px;
}
