body{
    background-image: url(../images/qiusewuxiansenlinlideqiutianbizhi_417353_10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: whitesmoke;
}
.container{
    background-color: transparent;
}
#head{
    background-color: transparent;
    margin-top:50px;
    color: white;
}
#head #appName{
    /* font-size: 80px; */
    color: #ff7f50;
}
#head #slogan{
    color: white;
}
#desc{
    background-color: whitesmoke;
    padding: 10px;
}
.splitline{
    margin-top:10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    height: 1px;
    width: 100%;
}
#desc .row{
    margin-top: 20px;
}
footer{
    color: black;
    text-align: center;
}
