extends body
block title
    title 404 NOT FOUND
block content
    .row
        .col-md-6.col-sm-6
            p(style="font-size: 70px") 404
            p(style="font-size: 70px") NOT FOUND
        .col-md-6.col-sm-6
            img(src="https://tse4.mm.bing.net/th?id=OIP.4l8ASeouIk7NkwOjxFDeCQHaEM&pid=Api", alt="").img-responsive

    h3 你来到了一个未知的领域,此页面可能已被转移了
    h3 您可以<a href="/">前往本站主页</a>