extends body
block title
    title 商务合作 - #{title}

block content
    h1.text-center 商务合作
    h3 客户端
    p.
        秋之盒作为一款特定方向的Windows桌面工具软件,用户有较强的特征,可进行精准广告投放<br>
        广告展示方式:秋之盒首页可热更新的信息流系统<br>
        目前,秋之盒客户端UV 500,PV 1200
    img(src="client.png").img-responsive

    h3 官网
    p.
        秋之盒官网作为秋之盒的宣传,下载,支持站点,拥有着更多的访问量以及较为准确的目标客户画像.<br>
        广告展示方式:在不过多影响浏览体验的前提下,通过网页横幅,浮窗等等进行展示<br>
        前,秋之盒官网UV 500,PV 2000
    img(src="web.png").img-responsive

    h3 广告投放类型
    p 只要是合法合理的都可考虑投放,但为了产生最大效益,建议投放适合秋之盒用户的精准广告,包括但不限于:远程刷机,手机解锁,手机寄修等
    
    h3 报价
    p  请进一步联系,邮件/QQ: zsh2401@163.com
        