extends body
block includeJS
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="/js/yin.js")
    script
        include ../js/download.js
block includeCSS
    style
        include ../css/download.css
    
block title
    title 下载 - #{web.title}

block content
    .alert.alert-success.text-center 感谢您下载秋之盒,这里是<a href="/help/">秋之盒使用说明书</a>
    .text-center
        a(href="../donate/" target="_blank") 扫码捐赠或领取最大99元支付宝赏金红包
        
    #downloadCountInfo
        h1.text-center 选择您的下载渠道
        .text-center
            h3 #{software.version.version} 更新日志
            p #{software.version.message}
        br
        br
        .row.text-center.ways
            .col-md-4.col-sm-6
                img(src="./images/mono.jpg").img-responsive
                h1 MonoLogueChi
                button(onclick="gotoMono()").btn.btn-default 下载 
                    span.badge {{dldata[__monoId]}}
                p. 
                    MonoLogueChi提供<br>
                    通常在10分钟内跟进最新版<br>
                    2018年11月上线<br>
                a(href="https://www.xxwhite.com/" target="_blank") 叉叉白 博客
            
            .col-md-4.col-sm-6
                img(src="./images/web1n.jpg").img-responsive
                h1 web1n
                button(onclick="gotoWeb1n()").btn.btn-default 下载 
                    span.badge {{dldata[__web1nId]}}
                p. 
                    小黑屋开发者web1n提供<br>
                    通常在1天内跟进最新版<br>
                    2018年12月17日上线<br>
                a(href="https://https.vc/" target="_blank") web1n 博客

            .col-md-4.col-sm-12
                img(src="./images/misaka2.png").img-responsive
                h1 zsh2401
                button(onclick="gotoBaiduPan()").btn.btn-default 下载 
                    span.badge {{total2401}}
                p. 
                    秋之盒开发者提供<br>
                    更新速度毫无疑问最快<br>
                    在百度盘上,可能不太方便<br>
                    2017年11月上线<br>
                a(href="https://zsh2401.top" target="_blank") 2401的晚秋咖啡
            
            