extends body
block title
    title 指南 - #{web.title}
block includeJS
    script(src="./js/index.js")
block includeCSS
    style
        include ../css/guide.css
block content
    #top
    br
    br
    br
    .backtotop
        .btn-group.btn-group-vertical
            button(onclick="location.href = '/help/'").btn.btn-default 说明书主页
            button(onclick="location.href = '#top'").btn.btn-default 回到顶部
   
    div !{html}

        