extends body
block includeCSS
    link(rel='stylesheet',type='text/css',href='/css/index.css')
    
block includeJS
    script(src='/js/index.js')

block precontent
    .jumbotron.header
        .container.head-container
            h1 AutumnBox 2019.4
            h4 开源,简约,免费的安卓手机助手
            .btn-group
                button(type="button",onclick="gotoDl()").btn.btn-success.main-btn 立刻下载
                button(type="button",onclick="gotoOS()").btn.btn-default.main-btn 浏览源码仓库
            h5 交流群:246177486

block content
    .row
        .col-md-3.col-sm-6.col-xs-6
            a(href="/help/?md=dpm.md").hlink
                h3 激活软件
                li
                    a(target="_blank" href="https://www.coolapk.com/apk/com.catchingnow.icebox") 冰箱
                li 
                    a(target="_blank" href="https://www.coolapk.com/apk/web1n.stopapp") 小黑屋 @web1n
                li
                    a(target="_blank" href="https://www.coolapk.com/apk/com.hld.apurikakusu") 黑洞
                li
                    a(target="_blank" href="https://www.coolapk.com/apk/me.yourbay.airfrozen") 空调狗
                li
                    a(target="_blank" href="https://www.coolapk.com/apk/com.hld.anzenbokusu") 第二空间
                li
                    a(target="_blank" href="https://www.coolapk.com/apk/cf.playhi.freezeyou") FreezeYou
                li
                    a(target="_blank" href="http://kfmark.com/") 快否
        .col-md-3.col-sm-6.col-xs-6
            a(href="/help/?md=script.md").hlink
                h3 执行脚本
                li 
                    a(target="_blank" href="https://www.coolapk.com/apk/me.piebridge.brevent") 黑域
                li 
                    a(target="_blank" href="https://www.coolapk.com/apk/moe.shizuku.privileged.api") ShizukuManager
        
        .col-md-3.col-sm-6.col-xs-6
            a(href="/help/?md=script.md").hlink
                h3 手机刷机
                li 刷入Recovery
                li 解锁系统分区
                li 一键上BL锁

        .col-md-3.col-sm-12.col-xs-12
            a(href="http://materialdesigninxaml.net/").hlink
            h3 谷歌质感设计
            p 基于Material Design In Xaml

    #desc
        .row
            .col-md-6.col-sm-6
                h3 
                    embed(src="/images/svg/security.svg").embed-icon
                    span  秋之盒值得被您信任
                li 使用C#和WPF技术编写,遵守Windows API规范
                li
                    a(href="/opensource/")
                        img(src="https://img.shields.io/badge/%E5%BC%80%E6%BA%90%E8%AE%B8%E5%8F%AF-LGPL3.0-brightgreen.svg")
                li
                    a(target="_blank" href="http://r.virscan.org/language/zh-cn/report/67dda3a561124fe6c0818cfe32da9f9f")
                        img(src="https://img.shields.io/badge/%E5%85%A8%E7%90%83%E6%9F%A5%E6%9D%80-安全-brightgreen.svg")
                li
                    a(target="_blank" href="https://habo.qq.com/file/showdetail?pk=ADQGb11vB2QIOls5U2A%3D")
                        img(src="https://img.shields.io/badge/%E8%85%BE%E8%AE%AF%E5%93%88%E5%8B%83-%E6%9C%AA%E5%8F%91%E7%8E%B0%E9%A3%8E%E9%99%A9-brightgreen.svg")

            .col-md-6.col-sm-6
                h3
                    embed(src="/images/svg/req.svg").embed-icon
                    span  运行所需
                li
                    embed(src="./images/svg/pc.svg" width="20px")
                    span X86桌面设备(常见的个人计算机)
                li
                    embed(src="./images/svg/windows.svg" width="20px")
                    span 建议Win10(1809) 最低Win7
                li
                    embed(src="./images/svg/env.svg" width="20px")
                    span .net 4.6及以上(Win10自带)
                    a(target="_blank" href="/go/download/dotnet/") [点击下载]
                
        .row
            div(v-if="latestVersionInfo != null").col-md-6.col-sm-6
                h3
                    embed(src="/images/svg/leaf.svg").embed-icon
                    span  {{version}}更新日志
                    small - {{date[1]}}/{{date[2]}}/{{date[0]}}

            .col-md-6.col-sm-6
                h3
                    embed(src="/images/svg/heart.svg").embed-icon
                    span  开发者需要您的帮助
                p 我只是一名19岁学生,最初为学习与实践目的创立了此项目.
                p 如今面临巨大的生活与学习压力,我不得不放缓开发进度.
                p 我希望您可以支持我,这完全是自愿的.

        <br><br>
        #vcomments