extends body
block includeCSS
    link(rel='stylesheet',type='text/css',href='/css/index.css')
    
block includeJS
    script(src='/js/index.js')

block precontent
    .jumbotron.header
        .container.head-container
            h1 AutumnBox 2019.4
            h4 开源,简约,免费的安卓手机助手
            .btn-group
                button(type="button",onclick="gotoDl()").btn.btn-success.main-btn 立刻下载
                button(type="button",onclick="gotoOS()").btn.btn-default.main-btn 浏览源码仓库
            h5 交流群:246177486

block content
    p #{title}