extends body
block title
    title 开源 - #{title}

block content
    .container.text-center
        img(src="/images/github.png")
        h1 开源
        p 秋之盒现以LGPL3.0 (宽松的GNU公共协议)开源,请在必要时遵守开源协议<br>如果可以的话,希望能够标个星,这是对我开源代码的认可
        .btn-group
            button(type="button" onclick="window.open('https://github.com/zsh2401/AutumnBox/'").btn.btn-default 秋之盒仓库
             button(type="button" onclick="window.open('https://github.com/zsh2401/www.atmb.top/'").btn.btn-default 本站点开源仓库

        .row.text-left
            .col-md-6.col-sm-6
                h4 鸣谢以下公司和项目做出的卓越贡献(不分先后)
                ul
                    li Newtonsoft.Json
                    li Google
                    li Android
                    li Linux
                    li C#
                    li Microsoft
                    li MaterialDesignInXaml
                    li Vue.js
                    li Jquery
                    li bootstrap
                    li Valine
                    li bilibili弹幕姬
            
            .col-md-6.col-sm-6
                h4 感谢以下人员在AutumnBox初期给予的支持(不分先后)
                ul
                    li MonoLogueChi
                    li web1n
                    li 咖枯
                    li yume
                    li 滥情空心
                    li 饼干怪兽
                    li 毛线没有团团
                    li hxy
                    li my0402

            .col-md-6.col-sm-6
                h4 感谢以下开发者提供的支持与帮助(不分先后)
                ul
                    li @MonoLogueChi 秋之盒合作开发
                    li @web1n 小黑屋/黑科技
                    li @咖枯 黑洞/第二空间
                    li @Playhi FreezeYou!

