<!DOCTYPE html>
<html>
<head>
    <title id="title">拓展模块</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ff7f50">
    <meta name="msapplication-TileColor" content="#ff7f50">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/leaves.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="./css/extensionpage.css">
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.11.1/dist/av-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/valine@1.3.4/dist/Valine.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- <script src="../lib/markdown/js/Parser.js"></script> -->
    <script src="../js/global.js"></script>
    <script src="../js/caona.js?s=efg"></script>
    <script src="js/extension_details.js?q=cfaakv"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-radius: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-c">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">秋之盒</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-c">
                <ul class="nav navbar-nav">
                    <li><a href="../"><span class="glyphicon glyphicon-home"> 主页</a></li>
                    <li class="active"><a href="../extension/"><span class="glyphicon glyphicon-th"> 拓展模块</a></li>
                    <li><a href="../about/"><span class="glyphicon glyphicon-leaf"> 关于/联系</a></li>
                    <li><a href="../donate/"><span class="glyphicon glyphicon-heart-empty"> 开源/捐赠</a></li>
                    <li><a href="../comments/"><span class="glyphicon glyphicon-edit" > 留言/软件评论</a></li>
                    <li><a href="../help/"><span class="glyphicon glyphicon-paperclip"> 帮助</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="information" class="container" style="background: whitesmoke;">
        <div class="firstele"></div>
        <div  class="row">
            <div class="col-md-4"><img v-bind:src="ext.icon" class="img-responsive"></div>
            <div class="col-md-8">
                    <h2>{{ext.name}}</h2>
                    <div class="row">
                        <h4 class="col-md-4">开发者:{{ext.auth}}</h4>
                        <h4 class="col-md-4" v-if="ext.version != null">版本:{{ext.version}}</h4>
                        <h4 class="col-md-4" v-if="ext.dangerLevel != null" >危险级别:{{ext.dangerLevel}}</h4>
                        <h4 class="col-md-4" v-if="ext.size != null">近似大小:{{ext.size}}</h4>
                        <h4 class="col-md-8" v-if="ext.email != null">联系邮箱:{{ext.email}}</h4>
                        <h4 class="col-md-4" v-if="ext.opensource != null"><a v-bind:href="ext.opensource" target="_blank">开源地址</a></h4>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success"  v-on:click="onClickDownload">立刻获取 <span class="badge">{{downloadCount}}</span> </button>
                        <button type="button" class="btn btn-info" onclick="window.open('../go/help/install_extension/')">如何安装拓展?</button>
                    </div>
            </div>
        </div>
        <div>
            <p v-html="ext.desc"></p>
        </div>
        <div v-if="extpics != null" class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="pic in extpics" class="swiper-slide"><img class="img-responsive" v-bind:src="pic"></div>
            </div>
        </div>
        <h2 class="text-center">评论区</h2>
        <div id="vcomments"></div>   
        <footer>
            <div style="display:none">
                <script src="https://s13.cnzz.com/z_stat.php?id=1272395513&web_id=1272395513" language="JavaScript"></script>
            </div>
            <p>Copyright © 2017 - 2018 zsh2401,All Rights Reserved</p>
        </footer>
    </div>
</body>
</html>