<!DOCTYPE html>
<html>
<head>
  <title id="title">拓展模块</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/leaves.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="../lib/markdown/js/Parser.js"></script>
  <!-- <script src="/js/atmbx.js"></script> -->
  <script src="../js/counter.js"></script>
  <script>
    var vm = null;
    function getUrlParam(name){
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
      var r = window.location.search.substr(1).match(reg);  //匹配目标参数
      if (r != null) return unescape(r[2]); return null; //返回参数值
    }
    function initVue(){
      vm = new Vue({
        el:"#information",
        data:{
          ext:null,
          descMarkDown:null,
          downloadCount:null,
        },
        methods:{
          onClickDownload:function(){
            window.location = this.ext.downloadUrl;
            addDownloadCount(this.ext.id);
          }
        }
      });
    }
    function fetchData(){
      var fileName = getUrlParam("j");
      fetch(fileName)
      .then(res=>res.text())
      .then(text=>{
        var json = eval("(" + text + ")");
        vm.$data.ext = json;
        document.title = json.name +"-秋之盒拓展";
        var parser = new HyperDown(); 
        var html = parser.makeHtml(json.desc);
        vm.$data.ext.descMarkDown = html;
        queryDownloadCount(json.id,function(count){
          vm.$data.downloadCount = count;
        });
      })
    }
  </script>
</head>
<body style="background-color: #ff6138;color:#fefefe">
    <div id="information" class="container">
      <center v-if="ext != null">
        <h1>{{ext.name}}</h1>
        <h4>@{{ext.auth}}</h4>
        <h4>版本:{{ext.version}}</h4>
        <h4 v-if="ext.minSdk != null">最低SDK:{{ext.minSdk}} 目标SDK{{ext.targetSdk}}</h4>
        <h4 v-if="downloadCount != null">下载数量:{{downloadCount}}</h4>
        <button v-if="ext.minSdk != null" type="button" class="btn btn-danger" onclick="window.open('https://github.com/zsh2401/AutumnBox/wiki/zh_CN_SDK%E7%89%88%E6%9C%AC%E5%85%B3%E7%B3%BB%E5%AF%B9%E7%85%A7%E8%A1%A8')">
          秋之盒版本与API版本对照表</button><br><br>
        <button type="button" class="btn btn-success" v-on:click="onClickDownload">下载</button>
        <button type="button" class="btn btn-danger" onclick="window.location='./'">返回上一级</button>
        <br><br>
        <div v-if="descMarkDown != null">
          <h3>说明</h3>
          <h4 v-html="descMarkDown"/><br>
        </div>
      </center>
      <center v-else>
        <h1>加载中...</h1>
      </center>
    </div>
    <div style="display:none"><script src="https://s13.cnzz.com/z_stat.php?id=1272395513&web_id=1272395513" language="JavaScript"></script></div>
    <script>
    initVue();
    fetchData();
    </script>
  </body>
</html>