.header{
    background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
    padding-top: 70px;
    padding-bottom: 70px;
}
.desc{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}