extends body
block title
    title 联系 - #{web.title}
block content


   div.row
        div(style="margin-bottom:20px;").col-md-6.col-sm-6
            h2(style="margin-top:0")
                span 联系开发者
                small zsh2401@163.com

            div.btn-group
                button(type="button" onclick="window.open('https://www.zsh2401.top/')").btn.btn-default 个人网站
                button(type="button" onclick="window.open('https://space.bilibili.com/3061574/#/')'").btn.btn-default 哔哩哔哩
                button(type="button" onclick="window.open('https://www.coolapk.com/dyh/1592')").btn.btn-default 酷安看看号
        
        div.col-md-6.col-sm-6
            h2(style="margin-top:0") 用户/开发者交流/内测
            button(type="button" style="min-width: 400;max-width: 500;" onclick="window.open('http://shang.qq.com/wpa/qunwpa?idkey=6210b7c1027584a9fc497d1dc59649dbc7d2da9739145cdbba71b5b6d4616e8f')").btn.btn-default 加入群(246177486)


    #containerDiv
        iframe(src="//player.bilibili.com/player.html?aid=41336181&cid=72599777&page=1" style="border:0px;" scrolling="no" frameborder="no" framespacing="0" allowfullscreen="true")#headVideo
    #vcomment
    script.
        $(window).resize(resizeVideo);
        $(document).ready(resizeVideo);
        function resizeVideo() 
        {
            var newVideoW = $("#containerDiv").width();
            var newVideoH = newVideoW * 0.6;
            $("#headVideo").width(newVideoW);
            $("#headVideo").height(newVideoH);
        }