.header{
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.no-radius{
    border-radius: 0px;
}
.hlink:hover{
    color: black;
    text-decoration: none;
}
.hlink{
    color: black;
    padding-bottom: 5px;
    /* text-decoration: underline; */
}
.embed-icon{
    width: 30px;
}