<!DOCTYPE html>
<html>
<head>
    <title>捐赠/开源 秋之盒</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ff7f50">
    <meta name="msapplication-TileColor" content="#ff7f50">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="../images/leaves.png">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../js/global.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-radius: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-c">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">秋之盒</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-c">
                <ul class="nav navbar-nav">
                    <li><a href="../"><span class="glyphicon glyphicon-home" /> 主页</a></li>
                    <li><a href="../extension/"><span class="glyphicon glyphicon-th" /> 拓展模块</a></li>
                    <li><a href="../about/"><span class="glyphicon glyphicon-leaf" /> 关于/联系</a></li>
                    <li class="active"><a href="."><span class="glyphicon glyphicon-heart-empty" /> 开源/捐赠</a></li>
                    <li><a href="../comments/"><span class="glyphicon glyphicon-edit" /> 留言/软件评论</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="background: whitesmoke">
        <div class="firstele"></div>
        <div class="centerText">
            <h1>开源</h1>
            <p>秋之盒一直都以GPL3.0协议开源,请在必要时遵守开源协议<br>如果可以的话,希望能够标个星,这是对我开源代码的认可</p>
            <button type="button" class="btn btn-primary" onclick="window.open('https://github.com/zsh2401/AutumnBox/')">
                秋之盒仓库
            </button>
            <button type="button" class="btn btn-primary" onclick="window.open('https://github.com/zsh2401/www.atmb.top/')">
                官网仓库
            </button>
            <h1>捐赠</h1>
            <p>
                秋之盒是一个完全开源免费的自由软件,兴趣是我开发这个软件的最初动力<br>
                许多人使用并称赞了秋之盒,说真的,我很开心(^▽^)<br>
                但......一个项目纯粹靠兴趣来维持,真能活得长久吗?<br>
                无数的软件因为难以盈利而倒下或成为流氓被人唾弃<br>
                我希望大家能够一起守护秋之盒的纯洁与美好....
            </p>
            <h1>捐赠方式</h1>
            <p>如果您进行了捐赠,将会被记录在捐赠感谢名单上</p>
            <div>
                <img class="donate-image" src="alipay.jpg">
                <img class="donate-image" src="wechatpay.jpg">
            </div>
            <h1>感谢名单</h1>
            <p>如果您捐赠了但却未被记录,请联系zsh2401@163.com</p>
        </div>
        <div id="donationsDiv">
            <table v-if="donations" class="table">
                <thead>
                    <tr><th>姓名</th><th>日期</th><th>数额</th><th>备注</th></tr>
                </thead>
                <tbody>
                    <tr v-for="donation in donations">
                        <td>{{donation.name}}</td>
                        <td>{{donation.date}}</td>
                        <td>{{donation.count}}</td>
                        <td>{{donation.t}}</td>
                    </tr>
                </tbody>
            </table>
            <div v-else>
                <h2>名单加载中..</h2>
            </div>
        </div>
        <footer>
            <div style="display:none">
                <script src="https://s13.cnzz.com/z_stat.php?id=1272395513&web_id=1272395513" language="JavaScript"></script>
            </div>
            <p>Copyright © 2017 - 2018 zsh2401,All Rights Reserved</p>
        </footer>
    </div>
</body>
</html>
