.ext-card{
    height:100px;
    margin: 5px;
    border-radius: 15px;
    cursor:pointer;
    color: gray;
    background: whitesmoke;
}
.ext-icon{
    width: 100%;
}
.header{
    background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
    color: white;
    height: 20vh;
    padding-top: 4vh;
}