*{
    padding: 0px;
    margin: 0px;
    font-size:14px;
    font-family: Microsoft YaHei UI Light,Microsoft YaHei, sans-serif;
}
html{
    height: 100%;
    width: 100%
}
body{
    height: 100%;
    width: 100%
}